@import url('https://fonts.googleapis.com/css2?family=Stick&display=swap');

body{
    margin: 0;
    padding: 0;
    background-color: #000;
}

.shadow{
    position: relative;
    margin: 200px auto 0;
    width: 800px;
    height: 500px;
    background: linear-gradient(0deg, #000, #262626);
}

.shadow:before,
.shadow:after{
content: '';
position: absolute;
top: -2px;
left: -2px;
background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00, #ffff00, #ff0000, #fb0094, #0000ff, #00ff00, #ffff00, #ff0000);
background-size: 400%;
width: calc(100% + 4px);
height: calc(100% + 4px);
z-index: -1;
animation: animate 20s linear infinite;
}

.shadow:after{
    filter: blur(70px);
}

@keyframes animate{
    0%
    {
        background-position: 0 0;
    }
    50%
    {
        background-position: 300% 0;
    }
    100%
    {
        background-position: 0 0;
    }
}

h1{
    left: 0;
    line-height: 200px;
    margin-top: -100px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
    font-family: 'Stick', sans-serif;
    color: #d2b04c;
    font-size: 98px;
    cursor: pointer;
}